/* 
CSS - Cascading Style Sheets
Folha de estilo em cascata
*/

:root {
    /* Variáveis CSS */
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFF;
    --color-box-base: #FFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /* 
    Tamanho da fonte padrão: 16px - 100% - 1rem 
    REM é o tamanho da fonte baseado ao que foi colocado no :root
    Root Element
    */
    font-size: 60%; /* Controle de medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
box model
#container {
    
    border: 2px solid red;
    padding: 40px;
    margin: 60px;

    width: 300px;
    height: 150px;
} 
*/

html,
body {
    /* vh => viewport height */
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    /* 
    MESMO QUE:
    font-weight: 500;    
    font-family: Poppins;
    font-size: 1.6rem; 
    */
    color: var(--color-text-base);
}

#container{
    /* vw => viewport width (mesmo que 90% do total da viewport width) */
    width: 90vw;
    max-width: 700px;
}
